<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-social">
      <a href="https://github.com/siddhardhalokireddy">
        <img src="/assets/icons/github.svg" alt="GitHub">
      </a>
      <a href="https://www.linkedin.com/">
        <img src="/assets/icons/linkedin.svg" alt="LinkedIn">
      </a>
      <a href="https://twitter.com/">
        <img src="/assets/icons/x.svg" alt="X">
      </a>
      <a href="https://www.instagram.com/">
        <img src="/assets/icons/instagram.svg" alt="Instagram">
      </a>
    </div>

    <p>© {{ site.time | date: "%Y" }} Siddhardha Lokireddy</p>
  </div>
</footer>
