<footer class="site-footer">
<div class="social-links">
  <a href="https://github.com/siddhardhalokireddy" aria-label="GitHub">
    <img src="/assets/icons/github.svg" alt="">
  </a>
  <a href="https://www.linkedin.com/" aria-label="LinkedIn">
    <img src="/assets/icons/linkedin.svg" alt="">
  </a>
  <a href="https://twitter.com/" aria-label="X">
    <img src="/assets/icons/x.svg" alt="">
  </a>
  <a href="https://www.instagram.com/" aria-label="Instagram">
    <img src="/assets/icons/instagram.svg" alt="">
  </a>
</div>

</footer>
