<footer class="site-footer">
  <div class="footer-content">
    <p>© {{ site.time | date: "%Y" }} Siddhardh Lokireddy</p>

    <div class="social-links">
      <a href="https://www.youtube.com/" target="_blank">YouTube</a>
      <a href="https://www.instagram.com/" target="_blank">Instagram</a>
      <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
      <a href="https://twitter.com/" target="_blank">X</a>
      <a href="https://github.com/siddhardhalokireddy" target="_blank">GitHub</a>
    </div>
  </div>
</footer>
